<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FlyBy2018</display-name>
  <welcome-file-list>
  <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoggerInitializer</display-name>
    <servlet-name>LoggerInitializer</servlet-name>
    <servlet-class>com.fb.log.LoggerInitializer</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoggerInitializer</servlet-name>
    <url-pattern>/LoggerInitializer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationController</display-name>
    <servlet-name>RegistrationController</servlet-name>
    <servlet-class>com.fb.controller.RegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationController</servlet-name>
    <url-pattern>/RegistrationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationControl</display-name>
    <servlet-name>RegistrationControl</servlet-name>
    <servlet-class>com.fb.controller.RegistrationControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationControl</servlet-name>
    <url-pattern>/RegistrationControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ErrorView</display-name>
    <servlet-name>ErrorView</servlet-name>
    <servlet-class>com.fb.views.ErrorView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorView</servlet-name>
    <url-pattern>/ErrorView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuccessView</display-name>
    <servlet-name>SuccessView</servlet-name>
    <servlet-class>com.fb.views.SuccessView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuccessView</servlet-name>
    <url-pattern>/SuccessView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginControl</display-name>
    <servlet-name>LoginControl</servlet-name>
    <servlet-class>com.fb.controller.LoginControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginControl</servlet-name>
    <url-pattern>/LoginControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutControl</display-name>
    <servlet-name>LogoutControl</servlet-name>
    <servlet-class>com.fb.controller.LogoutControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutControl</servlet-name>
    <url-pattern>/LogoutControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchControl</display-name>
    <servlet-name>SearchControl</servlet-name>
    <servlet-class>com.fb.controller.SearchControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchControl</servlet-name>
    <url-pattern>/SearchControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelFlightControl</display-name>
    <servlet-name>CancelFlightControl</servlet-name>
    <servlet-class>com.fb.controller.CancelFlightControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelFlightControl</servlet-name>
    <url-pattern>/CancelFlightControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FlightController</display-name>
    <servlet-name>FlightController</servlet-name>
    <servlet-class>com.fb.controller.FlightController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightController</servlet-name>
    <url-pattern>/FlightController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowFlightControl</display-name>
    <servlet-name>ShowFlightControl</servlet-name>
    <servlet-class>com.fb.controller.ShowFlightControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowFlightControl</servlet-name>
    <url-pattern>/ShowFlightControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingControl</display-name>
    <servlet-name>BookingControl</servlet-name>
    <servlet-class>com.fb.controller.BookingControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingControl</servlet-name>
    <url-pattern>/BookingControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentController</display-name>
    <servlet-name>PaymentController</servlet-name>
    <servlet-class>com.fb.controller.PaymentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentController</servlet-name>
    <url-pattern>/PaymentController</url-pattern>
  </servlet-mapping>
</web-app>