@CHARSET "ISO-8859-1";
#select1{
min-width:415px;
min-height:35px;
font-size:15px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #00001a;
   color: white;
   text-align: right;
   height:5%;
   
}


.navbar {
  width: 100%;
  background-color: #00001a;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #9999ff;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
body
{
  margin:0;
}

body {
background-image:url("../images/nilu2.jpg");
 background-color: #cccccc;
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
h1 {
    font-size: 40px;
    text-align: center;
    margin: 2.3em 0 1.5em;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
    font-family:"Georgia, serif";
}
p{
font-size: 20px;
    text-align: left;
    
   
}
div[class*="footer"] {
 
font-size:24px;padding-left: 10px;padding-bottom:20px;padding-right: 20px;
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
color:white;
font-size:120%;
}

input,
label {
    margin: .4rem 0;
}

.note {
    font-size: .8em;
}

.inputpilot{
    width: 28%;
    margin: 0px auto 0px auto;
    background: rgba(0, 0, 0, 0.22);
    padding: 12px;
    position: relative;

}
.pilotdetails p
{
padding:0;
margin:0;
font-weight:bold;
color:#fff;
}
.alert-close {
    background-size: 16px;
    cursor: pointer;
    height: 24px;
    width: 24px;
    position: absolute;
    right: 11px;
    top: 17px;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    z-index: 999;
}
.content_pilot {
    padding: 50px 50px;
    text-align: left;
    position: relative;
}
.registerbtn {
    background-color: orange;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
}

.content_pilot input[type="text"], .content_pilot input[type="text"], .content_pilot input[type="text"], .content_pilot input[type="text"], .content_pilot input[type="number"], .content_pilot input[type="text"]
, .content_pilot input[type="text"], .content_pilot input[type="text"], .content_pilot input[type="text"]
, .content_pilot input[type="text"], .content_pilot input[type="text"], .content_pilot input[type="number"] {
    outline: none;
    font-size: 14px;
    letter-spacing: 1px;
    color: #000000;
    padding: 12px 12px 12px 40px;
    width: 85.2%;
    border: none;
    -webkit-appearance: none;
    margin-bottom: 12px;
    border: 1px solid #fff;
text-align: left;
}
.content-wthree input[type="submit"] {
    font-weight: bold;
    width: 100%;
    background: #19b9cc;
    border: none;
    margin: 3em 0 1.5em;
    outline: none;
    letter-spacing: 1px;
    font-size: 15px;
    padding: 14px 0;
    color: #fff;
    text-transform: uppercase;
    transition: .10000s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    cursor: pointer;
}
.content-wthree input[type="submit"]:hover{
background:#00e5ff;
}
.inputs-w3ls i {
    position: absolute;
    left: 12px;
    bottom: 24.8px;
    font-size: 16px;
    color: #000;
}
.inputs-w3ls {
    position: relative;
}
.wthree-text a {
    color: #fff;
    font-size: 13px;
    display: inline;
    letter-spacing: 1px;
    text-transform: capitalize;
}


/*--responsive--*/
@media(max-width:1600px){
.main-agile {
width: 35%;
}
.content-wthree input[type="text"], .content-wthree input[type="password"] {
    width: 88.3%;
}
}
@media(max-width:1440px){
.content-wthree input[type="text"], .content-wthree input[type="password"] {
width: 87.3%;
}
.footer-w3l {
margin: 45px 0px;
}
h2 {
font-size: 25px;
margin-bottom: 1em;
}
h1 {
font-size: 35px;
margin: 1.7em 0 1em;
}
.content-wthree {
padding: 40px 40px;
}
}
@media(max-width:1366px){
.content-wthree input[type="text"], .content-wthree input[type="password"] {
width: 86.3%;
}
}
@media(max-width:1280px){
.content-wthree {
padding: 35px 35px;
}
h1 {
font-size: 33px;
margin: 1.5em 0 1em;
}
.content-wthree input[type="submit"] {
margin: 2.5em 0 1.3em;
}
.footer-w3l {
margin: 36px 0px;
}
}
@media(max-width:1080px){
.main-agile {
width: 40%;
}
.content-wthree input[type="text"], .content-wthree input[type="password"] {
width: 84.9%;
}
}
@media(max-width:1050px){
.main-agile {
width: 41%;
}
}
@media(max-width:1024px){
h1 {
margin: 2.3em 0 1.3em;
}
.footer-w3l {
margin: 55px 0px;
}
.main-agile {
width: 42%;
}
}
@media(max-width:991px){
h1 {
margin: 1.5em 0 1em;
}
.footer-w3l {
margin: 36px 0px;
}
.content-wthree input[type="text"], .content-wthree input[type="password"] {
width: 84.4%;
}
}
@media(max-width:900px){
.main-agile {
width: 47%;
}
.content-wthree input[type="text"], .content-wthree input[type="password"] {
width: 84.9%;
}
h2 {
font-size: 23px;
}
h1 {
margin: 1.8em 0 1.2em;
font-size: 30px;
}
}
@media(max-width:800px){
.main-agile {
width: 50%;
}
.content-wthree input[type="text"], .content-wthree input[type="password"] {
width: 83.5%;
}
}
@media(max-width:768px){
h1 {
margin: 3.5em 0 1.5em;
}
.content-wthree input[type="text"], .content-wthree input[type="password"] {
width: 82.5%;
}
.footer-w3l {
margin: 80px 0px;
}

@media(max-width:767px){
h1 {
margin: 2.2em 0 1.2em;
}
.footer-w3l {
margin: 42px 0px;
}
.content-wthree input[type="text"], .content-wthree input[type="password"] {
font-size: 13px;
padding: 10px 10px 10px 37px;
width: 84%;
}
.content-wthree input[type="submit"] {
margin: 2em 0 1.3em;
font-size: 14px;
padding: 13px 0;
}
.footer-w3l p {
font-size: 13px;
}
.inputs-w3ls i {
bottom: 23px;
}
}
@media(max-width:736px){
.main-agile {
width: 52%;
}
}
@media(max-width:667px){
.content-wthree {
padding: 35px 30px;
}
.content-wthree input[type="text"], .content-wthree input[type="password"] {
width: 83%;
}
}
@media(max-width:640px){
.content-wthree input[type="text"], .content-wthree input[type="password"] {
width: 82%;
}
}
@media(max-width:600px){
.main-agile {
width: 60%;
}
.content-wthree input[type="text"], .content-wthree input[type="password"] {
width: 83.5%;
}
}
@media(max-width:568px){
h1 {
margin: 2.5em 0 1.5em;
font-size: 28px;
}
h2 {
font-size: 20px;
}
.main-agile {
width: 63%;
}
}
@media(max-width:480px){
h1 {
font-size: 25px;
}
.content-wthree {
padding: 30px 25px;
}
.main-agile {
width: 70%;
}
.content-wthree input[type="text"], .content-wthree input[type="password"] {
width: 83%;
}
.footer-w3l {
margin: 35px 0px;
}
.footer-w3l p {
line-height: 33px;
}
}
@media(max-width:440px){
.footer-w3l p {
padding: 0 25px;
}
}
@media(max-width:414px){
.footer-w3l {
margin: 35px 20px;
}
.main-agile {
width: 80%;
}
.content-wthree input[type="text"], .content-wthree input[type="password"] {
width: 82.7%;
}
.footer-w3l p {
padding: 0px;
}
}
@media(max-width:384px){
.content-wthree input[type="text"], .content-wthree input[type="password"] {
width: 81%;
}
h1 {
letter-spacing: 3px;
margin: 2em 0 1.5em;
}
.footer-w3l {
margin: 35px 24px;
}
}
@media(max-width:375px){
.content-wthree input[type="text"], .content-wthree input[type="password"] {
width: 80.6%;
}
h1 {
margin: 2.3em 0 1.5em;
font-size: 24px;
}
.inputs-w3ls i {
    font-size: 15px;
}
}
@media(max-width:320px){
h1 {
margin: 1.6em 0 1.2em;
font-size: 22px;
letter-spacing: 2px;
}
h2 {
font-size: 17px;
}
.content-wthree {
padding: 20px 15px;
}
.footer-w3l {
margin: 27px 22px;
}
.content-wthree input[type="text"], .content-wthree input[type="password"] {
width: 78%;
}
.footer-w3l p {
line-height: 27px;
}
.loginBox input[type="submit"]
{
border:none;
outline:none;
height: 40px;
color:#fff;
font-size:16px;
background: rgb(255,38,126);
cursor:pointer;
border-radius:20px;
} 
form {
    font-family: Arial, Helvetica, sans-serif;
	color:#FFF;
	width:50%;
	margin:auto;
	padding-bottom:10px;
	background-color:black;
	opacity:0.8;
}
* {
    box-sizing: border-box;
	border-radius:10px;
} 
.container {
    padding: 16px;
  	background-color:black;
    opacity:0.8;
} 
.registerbtn {
    background-color: #4caf5075;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 10;
}